extends layout

block content
  div(id='main-content', class='container-fluid')
    div(class='row')
      div(id='incoming', class='col-lg-6')
        div(class='row')
          div(class='col-lg-12')
            div(class='panel panel-default')
              div(class='panel-heading clearfix')
                h3(class='panel-title pull-left')
              div(class='list-group')
                each val in incoming
                  div(id='' + val.id, class='list-group-item')
                    div(class='row')
                      div(class='col-lg-2 no-padding')
                        h3(class='item-count') 0
                      div(class='col-lg-9', style='background-color:' + val.color)
                        h3(class='item-label')= val.label

      div(id='qced', class='col-lg-6')
        div(class='row')
          div(class='col-lg-12')
            div(class='panel panel-default')
              div(class='panel-heading clearfix')
                h3(class='panel-title pull-left')
              div(class='list-group')
                each val in qced
                  div(id='' + val.id, class='list-group-item')
                    div(class='row')
                      div(class='col-lg-2 no-padding')
                        h3(class='item-count') 0
                      div(class='col-lg-9', style='background-color:' + val.color)
                        h3(class='item-label')= val.label

block mainscript
  script(src='/javascripts/monitor.js')
