doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')    
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:100normal,100italic,300normal,300italic,400normal,400italic,500normal,500italic,700normal,700italic,900normal,900italic|Open+Sans:400normal|Lato:400normal|Oswald:400normal|Source+Sans+Pro:400normal|PT+Sans:400normal|Raleway:400normal|Open+Sans+Condensed:300normal|Roboto+Condensed:400normal|Droid+Sans:400normal|Roboto+Slab:400normal&subset=all', type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto', type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400',type='text/css')

    link(rel='stylesheet', href='/stylesheets/jquery.dynatable.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/pikaday.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav(class='navbar navbar-default navbar-fixed-top')
        div(class='accent')
        div(class='container-fluid')
          div(class='navbar-brand')
            h1= headerTitle
            h2= headerSubTitle
          div(id='clock', class='clock pull-right')
            span(class='time')
            span(class='ampm')
    
    div(id='mySidenav', class='sidenav')
      a(href="javascript:void(0)", class='closebtn') &times;
      a(href='/') Home
      a(href="#", id='createFolder') Create Folders
      a(href="/log") Logs
      a(href="/logrecords") Log Records
      a(href="/report") Reports


    block content

    footer(class='footer')
      div(class='container-fluid')
        div(class='row')
          div(class='col-lg-10')
            div(class='progress')
              div(class='progress-bar', role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
          div(class='col-lg-2')
            div(class='row')
              div(id='dailyCapacity', class='col-lg-12') ...
    
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/async.min.js')
    script(src='/javascripts/jquery.scrollbox.min.js')
    script(src='/javascripts/jquery.dynatable.js')
    block mainscript
    
