extends layout

block content
    div(id='main-content', class='container-fluid')
        div(class='row')
            div(class='table-responsive col-lg-12')
                table(id='report-table', class='table table-striped')
                    thead
                        tr                            
                            th _id     
                            th folder                       
                            th type
                            th category                            
                            th createdAt
                            th time
                    tbody

block mainscript
    script(src='/javascripts/logs.js')