extends layout

block content
    div(id='main-content', class='container-fluid')
        div(class='row')
            div(class='col-lg-6')
                fieldset
                    legend QCed Report
                    form(method='POST', action='/report', class='form-horizontal')
                        div(class='form-group')
                            label(for='foldertype', class='col-sm-2 control-label') Folder Type
                            div(class='col-sm-10')
                                select(id='foldertype', class='form-control', name='foldertype')
                                    option All
                                    option incoming
                                    option qced
                        div(class='form-group')
                            lable(for='categorytype', class='col-sm-2 control-label') Category
                            div(class='col-sm-10')
                                select(id='categorytype', class='form-control', name='categorytype')
                                    option All

                        div(class='form-group')
                            label(for='workdate', class='col-sm-2 control-label') Date
                            div(class='col-sm-10')
                                input(id='workdate', class='form-control', name='workdate', type='text')
                        div(class='form-group')
                            div(class='col-sm-offset-2 col-sm-10')
                                button(type='submit', class='btn btn-default') Export to Excel

block mainscript
    script(src='/javascripts/pikaday.js')
    script(src='/javascripts/report.js')